 p {
   margin: 10px 200px 10px;
   text-align:center;
 }
 pre,ul {
   margin: 10px 200px 10px;
}
h3,h4 {
     margin: 10px 200px 10px;
     text-align:center;
     text-decoration: underline;
     font-weight: bold;
}
